/*Header*/
body {
  font-size: 16px;
  color: #000;
  background-color: #000046;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #6487D0;
  border-radius: 0;
  border: 0;
}
.navbar-default .navbar-collapse {
	padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
	text-align: center;
	font-size: 1.2em;
}
#logo-img {
	background: url('../images/Logo_300px.png') no-repeat;
	width: 300px;
	height: 55px;
	margin: 20px 15px 10px 0;
}
.navbar-header button.navbar-toggle {
	border: 2px solid black;
	margin-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
/*END Header*/

/*Footer*/
.panel-footer {
  	background-color: #6487D0;
  	background-color: 
	font-size: 14px;
}
section span {
	font-weight: bold;
}
div.text-center {
	margin-top: 10px;
}
hr.visible-xs {
	border-color: black;	  /*Chrome*/
	background-color: black;  /*Safari e Firefox*/

}
/*END Footer*/
/*Main Page*/
.container .jumbotron {
  box-shadow: 0 0 50px black;
  border: 2px solid black;
}
#produto-tile, #contato-tile, #mapa-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}
#produto-tile:hover, #contato-tile:hover, #mapa-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#produto-tile {
  background: url('../images/produto-tile-250px.jpg') no-repeat;
  background-position: center;
}
#contato-tile {
  background: url('../images/contato-tile-250px.jpg') no-repeat;
  background-position: center;
}
#produto-tile span, #contato-tile span, #mapa-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/*END Main Page*/


/********** Large devices only **********/
@media (min-width: 1200px) {
	/*Header*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}
	/*End Header*/
	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/
	/*Home Page*/
	.container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 677px;
  	}
  	/*END Home Page*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/*Eletroteste Brand*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}

	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/	

	/*Home Page*/
	.container .jumbotron {
	    background: url('../images/jumbotron_992.jpg') no-repeat;
	    height: 560px;
	}
  	/* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/*Eletroteste Brand*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}
	#logo-img {
		background: url('../images/Logo_250px.png') no-repeat;
		width: 250px;
		height: 46px;
		margin: 27px 15px 10px 0;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 1.0em;
	}
	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/	
	/*Home Page*/
  	.container .jumbotron {
    	background: url('../images/jumbotron_768.jpg') no-repeat;
    	height: 434px;
  	}
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/*Eletroteste Brand*/
	.navbar-default .navbar-brand {
		padding: 0px;
	}
	#telefone, #endereco, #horas {
		text-align: center;
	}
	#logo-img {
		background: url('../images/Logo_200px.png') no-repeat;
		width: 200px;
		height: 37px;
		margin: 12px 15px 5px 20px;
	}
	div.navbar-header {
		margin-top: 15px;
	    margin-bottom: 15px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 0.9em;
	}
	div#collapsable-nav.navbar-collapse {
		border: 0;
		padding: 0;
	}
	/* Home Page */
	 .container .jumbotron {
	    margin-top: 0;
	    padding: 0;
	}
	/*END Home*/
}

/********** Super Extra small devices only (e.g., Iphone 4) **********/
@media (max-width: 479px) {
}