/*Header*/
body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #6666ff;
  border-radius: 0;
  border: 0;
}
.navbar-default .navbar-collapse {
	padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px;
}
.navbar-default .navbar-nav>li>a {
	color: #000;
	text-align: center;
	font-size: 1.2em;
}
h1 {
	background-color: blue;
}
#logo-img {
	background: url('../images/Logo_300px.png') no-repeat;
	width: 300px;
	height: 55px;
	margin: 20px 15px 10px 0;
}
.navbar-header button.navbar-toggle {
	border: 2px solid black;
	margin-top: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
/*END Header*/

/*Footer*/
.panel-footer {
	background-color: #6666ff;
	font-size: 14px;
}
section span {
	font-weight: bold;
}
div.text-center {
	margin-top: 10px;
}
hr.visible-xs {
	border-color: black;	 //Chrome
	background-color: black; //Safari e Firefox

}
/*END Footer*/


/********** Large devices only **********/
@media (min-width: 1200px) {
	/*Eletroteste Brand*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}

	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/*Eletroteste Brand*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}

	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/	
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	/*Eletroteste Brand*/
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	    margin-top: 5px;
	    padding: 0;
	}
	#logo-img {
		background: url('../images/Logo_250px.png') no-repeat;
		width: 250px;
		height: 46px;
		margin: 27px 15px 10px 0;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 1.0em;
	}
	/*FOOTER*/
	section#telefone {
		text-align: right;
	}
	section#endereco {
		text-align: center;
	}
	/*END FOOTER*/	
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/*Eletroteste Brand*/
	.navbar-default .navbar-brand {
		padding: 0px;
	}
	#telefone, #endereco, #horas {
		text-align: center;
	}
	#logo-img {
		background: url('../images/Logo_250px.png') no-repeat;
		width: 250px;
		height: 46px;
		margin: 12px 15px 5px 20px;
	}
	div.navbar-header {
		margin-top: 20px;
	    margin-bottom: 20px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 0.9em;
	}
	div#collapsable-nav.navbar-collapse {
		padding-bottom: 0px;
    	padding-top: 0px;
	}

}

/********** Super Extra small devices only (e.g., Iphone 4) **********/
@media (max-width: 479px) {
}